@page
@using NbaStats.BLL.Interfaces    
@inject IMatchService MatchService
    
    @{
        ViewData["Title"] = "Home page";
        var lastMatches = MatchService.GetMatchesPlayedLastNightAsync();
    }
    
    <div class="text-center">
        <h1 class="display-4">NBA Stats - Last Matches</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>Home Score</th>
                    <th>Away Team</th>
                    <th>Away Score</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var match in await lastMatches)
            {
                <tr onclick="window.location='/Match?id=@match.MatchId'" style="cursor:pointer;">
                    <td>@match.Date.ToString("yyyy-MM-dd")</td>
                    <td><a href="/Team?teamId=@match.HomeTeam.TeamId">@match.HomeTeam.Name</a></td>
                    <td>@match.HomeScore</td>
                    <td><a href="/Team?teamId=@match.AwayTeam.TeamId">@match.AwayTeam.Name</a></td>
                    <td>@match.AwayScore</td>
                </tr>
            }
            </tbody>
        </table>
    </div>